html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#maps {
  position: relative;
  width: 100%;
  height: 100%;
}
#ui {
  position: absolute;
  top: 5px;
  left: 200px;
  z-index: 9;
}

.button {
  background-color: #008cba;
  font-size: 40px;
  width: 200px;
}
